.preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Fond noir */
    overflow: hidden;
  }
  
  .name-container {
    text-align: center;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .circle-loader {
    width: 80px;
    height: 80px;
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  .inner-circle {
    width: 60px;
    height: 60px;
    background-color: #000000;
    border-radius: 50%;
    margin: auto;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  