.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93.5vh;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 60vh;
  border-radius: 10px;
  overflow: hidden;
}

.contact_card {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  color: white;
  background-color: #1f1f1f; /* Gris clair */
}

// .right {
//   background-color: #1f1f1f; /* Gris foncé */
//   color: white;
// }
